<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VFashion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Frontend/frontend/assets\img\favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="~/Frontend/frontend/assets\css\bootstrap.min.css">
    <link rel="stylesheet" href="~/Frontend/frontend/assets\css\plugin.css">
    <link rel="stylesheet" href="~/Frontend/frontend/assets\css\bundle.css">
    <link rel="stylesheet" href="~/Frontend/frontend/assets\css\style.css">
    <link rel="stylesheet" href="~/Frontend/frontend/assets\css\responsive.css">
    <script src="~/Frontend/frontend/assets\js\vendor\modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Add your site or application content here -->
    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                <!--header area -->
                @Html.Partial("~/Views/Shared/Header.cshtml")
                <!--header end -->
                <!--breadcrumbs area start-->
                <div class="breadcrumbs_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb_content">
                                <ul>
                                    <li><a href="index.html">Trang chủ</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li>Tin tức chi tiết</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs area end-->
                <!--blog area start-->
                <div class="main_blog_area blog_details">
                    <div class="row" style="justify-content:center">
                        <div class="col-lg-9 col-md-12" style="justify-content:center">
                            <div class="blog_details_left">
                                <div class="blog_gallery">
                                    <div class="blog_header">
                                        <span>
                                            <a href="News/News">Tin tức</a>
                                        </span>


                                        <div class="blog_active owl-carousel">
                                            <div class="blog_thumb blog__hover">
                                                <a href="/News/Details/@Model.Id"><img src="/Upload/News/@Model.Photo" alt=""></a>
                                            </div>
                                         
                                        </div>

                                        <div class="blog_entry_content">
                                            <h2>@Model.Name</h2>
                                        </div>
                            </div>
                        </div>
                 
                    </div>
                </div>
                <!--blog area end-->

            </div>
            <!--pos page inner end-->
        </div>
    </div>
    <!--pos page end-->
    <!--footer area start-->
            <div class="footer_area">
                <div class="footer_top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer_widget">
                                    <h3>Về chúng tôi</h3>
                                    <p>
                                        Cửa hàng quần áo chuyên thời trang chất lượng, đa phong cách, cập nhật xu hướng mới nhất. Hãy ghé thăm để trải nghiệm!
                                    </p>
                                    <div class="footer_widget_contect">
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>  Tam sơn - Từ Sơn-  BẮc Ninh- Việt Nam</p>

                                        <p><i class="fa fa-mobile" aria-hidden="true"></i> (84) 961 921 158</p>
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> anhchinhh2@gmail.com </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer_widget">
                                    <h3>Tài khoản của tôi</h3>
                                    <ul>
                                        <li><a href="#">Tài khoản của tôi</a></li>
                                        <li><a href="#">Đơn đặt hàng của tôi</a></li>
                                        <li><a href="#">Phiếu tín dụng của tôi</a></li>
                                        <li><a href="#">Địa chỉ của tôi</a></li>
                                        <li><a href="#">Đăng nhập</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer_widget">
                                    <h3>Thông tin</h3>
                                    <ul>
                                        <li><a href="#">Đặc biệt</a></li>
                                        <li><a href="#">Các của hàng của chúng tôi</a></li>
                                        <li><a href="#">Tín dụng của tôi</a></li>
                                        <li><a href="#">Điều khoản và điều kiện</a></li>
                                        <li><a href="#">Về chúng tôi</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer_widget">
                                    <h3>Bổ sung</h3>
                                    <ul>
                                        <li><a href="#"> Thương hiệu</a></li>
                                        <li><a href="#"> Phiếu quà tặng </a></li>
                                        <li><a href="#"> Các chi nhánh </a></li>
                                        <li><a href="#"> Đặc biệt </a></li>
                                        <li><a href="#"> Chính sách bảo mật </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="copyright_area">
                                    <ul>
                                        <li><a href="#"> Về chúng tôi </a></li>
                                        <li><a href="#">  DỊCH VỤ KHÁCH HÀNG  </a></li>
                                        <li><a href="#">  CHÍNH SÁCH RIÊNG TƯ  </a></li>
                                    </ul>
                                    <p>Bản quyền &copy; 2024 <a href="#">Ưu Tiên</a>. Mọi quyền được bảo lưu. </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="footer_social text-right">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>

                                        <li><a href="#"><i class="fa fa-wifi" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!--footer area end-->
    <!-- all js here -->
    <script src="~/Frontend/frontend/assets\js\vendor\jquery-1.12.0.min.js"></script>
    <script src="~/Frontend/frontend/assets\js\popper.js"></script>
    <script src="~/Frontend/frontend/assets\js\bootstrap.min.js"></script>
    <script src="~/Frontend/frontend/assets\js\ajax-mail.js"></script>
    <script src="~/Frontend/frontend/assets\js\plugins.js"></script>
    <script src="~/Frontend/frontend/assets\js\main.js"></script>
</body>
</html>
